@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");

h1 {
  font-family: "Merriweather", serif;
  color: #ffffff;
}
h3 {
  color: #ffffff;
}
p {
  color: #ffffff;
}

.b__container {
  background: url(./images/balch_lake.jpg) no-repeat center center fixed;
  width: auto;
  height: 100vh;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
}
.b__header {
  padding: 15px;
}
.b__lake {
  display: flex;
  justify-content: center;
}
.b__states {
  display: flex;
  justify-content: center;
}
.b__header h1 {
  margin: 5px;
  padding: 0;
  border-bottom: 2px solid #d57d56;
}
.b__states p {
  font-size: 0.8rem;
  margin: 2px;
  padding: 0;
}
.b__data-bar {
  width: 300px;
  height: calc(100vh - 30px);
  background-color: rgba(48, 34, 31, 0.95);
  margin: 15px;
  border-radius: 5px;
}
.b__data-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #f5f5f5;
  padding: 10px 15px;
}
